@model IEnumerable<MoiService.Models.District>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NameKh)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NameEn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ContactNumer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Province)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NameKh)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NameEn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ContactNumer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Province.NameKh)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.DistrictId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.DistrictId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.DistrictId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
